
@{
    ViewBag.Title = "List ";
    Layout = "~/Views/Shared/layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manufacturer List</title>
    <link href="~/Theme/CSS/style.css" rel="stylesheet" />
</head>
<body>
    <h3>Manufacturer List</h3>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Code</td>
                <td>Name</td>
                <td>National</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TSB</td>
                <td>Toshiba</td>
                <td>Japan</td>
            </tr>
            <tr>
                <td>2</td>
                <td>SS</td>
                <td>Samsung</td>
                <td>Korea</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
